.nosotros {
	.text-image__text {
		flex: 0 0 100%;

		p {
			font-family: $source-sans__extralight;
		}

	}

}

.nosotros__info{
	@media (min-width: 768px)and(max-width: 900px) {
	padding: 0 100px;
	}
	@media (min-width: 901px) {
		
	padding: 0 140px;
	}
}
.nosotros .text-image__wrapper {
	@include flex-direction(column);
}

.nosotros .cards.nosotros__profile {
	color: #4b4b4c;
	text-align: left;
	h5, p{
		margin: 0;
	}
}
.nosotros__img{
	background: red;
	height: 160px;
	margin-bottom: 5px;
	width: 150px;
	img{
		height: 100%;
		width: 100%;
	}

}
.nosotros__name {
	font-size: 16px;
	font-weight: 600;
}

.nosotros__email {
	color: #f31818;
	font-weight: 700;
	margin-top: 20px !important;
}
