/*
* TOC
*
*/

/*------------------*\

> COLORS

\*------------------*/

$primary: #545454;
$secundary: #edc214;
$white: #fff;

$dark-grayish-blue: #5f5f60;
$dark-grayish-orange: #3d3c3b;
$title-dark: #58595b;
$text-footer: #474545;


/*------------------*\

> FONTS

\*------------------*/
$source-sans: 'source sans pro';
$source-sans__extralight: 'source sans pro extralight';
